<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{{page.title}}</title>
    <meta content="{{page.description}}" name="description" />
    <meta
      content="{% for keywords in page.keywords %} {{page.keywords}} , {% endfor %}"
      name="keywords"
    />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- plugins CSS Files -->
    <link
      href="/assets/plugins/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Hero Section ======= -->
    <section id="blog-hero" class="d-flex align-items-center">
      <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="row align-items-center">
          <div class="col-lg-9">
            <h1 class="editable">{{ post.title}}</h1>
            <p class="mt-4 editable">
              {{ post.description}}
              <br />
            </p>
          </div>
          <div class="col-lg-6 editable">
            <img src="{{post.display_image}}" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= blog Section ======= -->

      <!-- End blog Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div>
            <a href="">Blog |</a>
            <a href="">Contact |</a>
            <a href="">For Hosts |</a>
            <a href=""> Press |</a>
            <a href=""> Go Premium!</a>
          </div>
        </div>
        <div class="text-center text-md-end pt-3 pt-md-0">
          <p>RemoteBase 2022</p>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Vendor JS Files -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/plugins/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/plugins/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
